@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-inter: var(--font-inter);
  --font-lobster: var(--font-lobster);
}

@theme {
  --color-lightblue: #e7fafe;
  --color-darkgray: #708246;
  --color-lightgreen: #6cc63f;
  --color-lightred: #cc261b;
  --color-lightyellow: #f09e00;
  --color-black: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
